<!-- <div class="container">
  <h1><%= @question.content %></h1>
    <%= @question.questioner.username %>
      <% @question.comments.each do |comment| %>
        <%= comment.content %>
      <% end %>
  <h2><% @question.answers.each do |answer| %></h2>
    <%= answer.content %>
      <%= answer.responder %>
    <% end %>
</div> -->
