<div class="container">
	<% @container.each do |post| %>
    <% question = post.question %>
    <h2><%= question.content %> <span class="username">– <%= question.questioner.username %></span></h2>
      <% question.comments.each do |comment| %>
      <p class="comment"><%= comment.content %> <span class="username">– <%= comment.commenter.username %></span></p>
      <% end %>
      <% question.answers.each do |answer| %>
        <p class="answer">Answer: <%= answer.content %>  <span class="username">– <%= answer.responder.username %></span></p>
         <ul>
          <% answer.comments.each do |ans_com| %>
            <li class="comment"><%= ans_com.content %> <span class="username">– <%= ans_com.commenter.username %></span><li>
        <% end %>
         </ul>
      <% end %>
    <% end %>

</div>
